:root {
  --vBoxShadow: rgba(0, 0, 0, 0.4);
  --vBoxShadowLight: rgba(255, 255, 255, 0.4);
  --vDropShadow: rgba(0, 0, 0, 0.7);
}

/*====================
User Interaction
====================*/
.kit-no-drag,
.kit-no-user {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

.kit-no-select,
.kit-no-user {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/*====================
Text Styling
====================*/
.kit-cursive {
  font-family: 'Pattaya', sans-serif;
}

.kit-link {
  color: #007bff;
}

.kit-text-shadow {
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.kit-text-shadow-light {
  text-shadow: 0 0 1px lightgrey;
}

.kit-text-shadow-sm {
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}

/*====================
Backgrounds
====================*/
.kit-bg-blur {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.kit-bg-noblur {
  filter: blur(0px);
  -webkit-filter: blur(0px);
}

.kit-bg-haze {
  background-color: rgba(250, 250, 250, 0.4);
}

.kit-bg-haze-strong {
  background-color: rgba(250, 250, 250, 0.66);
}

/*====================
Border Shadow
====================*/
.kit-border-shadow {
  box-shadow: 0 0 6px var(--vBoxShadow);
}

.kit-border-shadow-sm {
  box-shadow: 0 0 2px var(--vBoxShadow);
}

.kit-border-shadow-light {
  box-shadow: 0 0 6px var(--vBoxShadowLight);
}

.kit-border-shadow-light-sm {
  box-shadow: 0 0 2px var(--vBoxShadowLight);
}

.kit-border-shadow-hover:hover,
.kit-border-shadow-hover:active {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.75);
}

.kit-border-shadow-hover:focus {
  outline: none;
  user-select: none;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}

/*====================
Gradients
====================*/
.kit-gradient-lightgrey {
  background: linear-gradient(45deg, grey, lightgrey, grey);
  background-size: 1000% 600%;
}

.kit-gradient-lightgrey90 {
  background: linear-gradient(80deg, grey, lightgrey, grey);
  background-size: 1000% 600%;
}

.kit-gradient-grey {
  background: linear-gradient(45deg, #000000, grey);
  background-size: 1000% 600%;
}

.kit-gradient-grey90 {
  background: linear-gradient(240deg, #000000, grey);
  background-size: 1000% 600%;
}

.kit-gradient-animated-fast {
  animation: gradientscroll 5s ease infinite;
  -moz-animation: gradientscroll 5s ease infinite;
  -webkit-animation: gradientscroll 5s ease infinite;
}

.kit-gradient-animated-slow {
  animation: gradientscroll 60s ease infinite;
  -moz-animation: gradientscroll 60s ease infinite;
  -webkit-animation: gradientscroll 60s ease infinite;
}

@keyframes gradientscroll {
  0% { background-position: 0% 0%; }
  50% { background-position: 100% 100%; }
  100% { background-position: 0% 0%; }
}
@-moz-keyframes gradientscroll {
  0% { background-position: 0% 0%; }
  50% { background-position: 100% 100%; }
  100% { background-position: 0% 0%; }
}
@-webkit-keyframes gradientscroll {
  0% { background-position: 0% 0%; }
  50% { background-position: 100% 100%; }
  100% { background-position: 0% 0%; }
}

@keyframes gradientscroll-forward { 
  0%   { background-position: 0 0; }
  100% { background-position: -200% 0; }
}
@-moz-keyframes gradientscroll-forward { 
  0%   { background-position: 0 0; }
  100% { background-position: -200% 0; }
}
@-webkit-keyframes gradientscroll-forward { 
  0%   { background-position: 0 0; }
  100% { background-position: -200% 0; }
}

/*====================
Opacity
====================*/
.kit-opacity-25 {
  opacity: 25%;
  transition: opacity 0.3s;
}
.kit-opacity-50 {
  opacity: 50%;
  transition: opacity 0.3s;
}
.kit-opacity-75 {
  opacity: 75%;
  transition: opacity 0.3s;
}
.kit-opacity-100 {
  opacity: 100%;
  transition: opacity 0.3s;
}

/*====================
Pointers
====================*/
.kit-pointer-none {
  pointer-events: none;
}

.kit-pointer-select {
  cursor: pointer;
}

/*====================
Animation
====================*/
.kit-blink {
  animation: blink 0.66s linear infinite;
}
@keyframes blink {
  50% { opacity: 0.25; }
}
@-moz-keyframes blink {
  50% { opacity: 0.25; }
}
@-webkit-keyframes blink {
  50% { opacity: 0.25; }
}

.kit-shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}
@keyframes shake {
  10%, 90% { transform: translate3d(-2px, 0, 0); }
  20%, 80% { transform: translate3d(4px, 0, 0); }
  30%, 50%, 70% { transform: translate3d(-8px, 0, 0); }
  40%, 60% { transform: translate3d(8px, 0, 0); }
}
@-moz-keyframes shake {
  10%, 90% { transform: translate3d(-2px, 0, 0); }
  20%, 80% { transform: translate3d(4px, 0, 0); }
  30%, 50%, 70% { transform: translate3d(-8px, 0, 0); }
  40%, 60% { transform: translate3d(8px, 0, 0); }
}
@-webkit-keyframes shake {
  10%, 90% { transform: translate3d(-2px, 0, 0); }
  20%, 80% { transform: translate3d(4px, 0, 0); }
  30%, 50%, 70% { transform: translate3d(-8px, 0, 0); }
  40%, 60% { transform: translate3d(8px, 0, 0); }
}
  

.kit-smoke {
  animation: smoke 5s linear infinite;
  -moz-animation: smoke 5s linear infinite;
  -webkit-animation: smoke 5s linear infinite;
  background: linear-gradient(65deg, white 25%, #fde071 37.5%, #ef9671, #996a6e 62.5%, white 75%);
  background-size: 100% 500%;
  opacity: 0.66;
}
@keyframes smoke {
  0% { background-position: 0% 0%; }
  100% { background-position: 100% 100%; }
}
@-moz-keyframes smoke {
  0% { background-position: 0% 0%; }
  100% { background-position: 100% 100%; }
}
@-webkit-keyframes smoke {
  0% { background-position: 0% 0%; }
  100% { background-position: 100% 100%; }
}

/*====================
Scrolling
====================*/
.kit-scroll-snap-center {
  scroll-snap-align: center;
}
.kit-scroll-snap-end {
  scroll-snap-align: end;
}
.kit-scroll-snap-start {
  scroll-snap-align: start;
}
.kit-scroll-smooth {
  scroll-behavior: smooth;
}

/*====================
zIndex
====================*/
.kit-z-0 { z-index: 0; }
.kit-z-1 { z-index: 1; }
.kit-z-2 { z-index: 2; }
.kit-z-3 { z-index: 3; }
.kit-z-4 { z-index: 4; }
.kit-z-5 { z-index: 5; }